---
# Same as VS Code default style, but change BreakBeforeBraces.
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
---
Language: Cpp
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
---
